*.class
*.log

*.DS_Store

**/.bloop
**/.metals
**/.vscode
**/.bsp

**/target
**/project/project

examples/week_1/project/metals.sbt
examples/week_2/project/metals.sbt
examples/week_3/project/metals.sbt


exercises/fireworks/project/metals.sbt
exercises/democracy/project/metals.sbt